<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         stopOnError="false"
         stopOnFailure="false"
         stopOnIncomplete="false"
         stopOnSkipped="false"
         cacheResult="false"
         verbose="true">

    <testsuites>
        <testsuite name="PHP Coding Challenge: Language Group">
            <directory suffix="Test.php">tests</directory>
        </testsuite>
    </testsuites>

    <coverage processUncoveredFiles="true">
        <include>
            <directory suffix=".php">./src/LanguageGroup</directory>
        </include>
    </coverage>

    <php>
        <server name="REQUEST_SCHEME" value="https"/>
        <server name="HTTP_HOST" value="httpbin.org"/>
        <server name="REQUEST_URI" value="get"/>
    </php>
</phpunit>
